#Server
PORT = YourFreePort

# Database
DATABASE_URL = jdbc:mysql://localhost:YourPort/YourDatabase?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
DATABASE_USERNAME = YourUsername
DATABASE_PASSWORD = YourPassword

# JVM (optional - for production memory limits)
JAVA_OPTS = -Xmx256m -Xms128m